{
  "openapi": "3.1.1",
  "info": {
    "title": "Notification Microservice API",
    "description": "Microservice for notifications – allows sending messages to users or user groups",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sau-portal.de/ase-15/notification-service",
      "description": "Production server (deployment only with authentication!)"
    }
  ],
  "security": [
    {
      "middlewareAuth": []
    }
  ],
  "paths": {
    "/notifications": {
      "post": {
        "summary": "Send notification",
        "description": "Sends a notification to one or more users or to a user group",
        "operationId": "sendNotification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notification sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "middlewareAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication through Luca Schmitz's team middleware"
      }
    },
    "schemas": {
      "NotificationRequest": {
        "type": "object",
        "required": [
          "title",
          "recipients",
          "message"
        ],
        "properties": {
          "priority": {
            "type": "boolean",
            "default": false,
            "description": "Priority of the notification"
          },
          "title": {
            "type": "string",
            "description": "Title of the notification"
          },
          "recipients": {
            "type": "integer",
            "description": "Recipients of the notification"
          },
          "shortDescription": {
            "type": "string",
            "description": "Short description of the notification"
          },
          "message": {
            "type": "string",
            "description": "The notification message"
          }
        }
      },
      "NotificationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the sent notification"
          },
          "status": {
            "type": "string",
            "description": "Status of the notification"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  }
}